h1 {text-align: center;}
/* line 5:  background: linear-gradient(120deg,#2980b9, #8e44ad);*/

header {  
    background-color: #008080;  
    position: fixed;  
    left: 0;  
    right: 0;  
    top: 5px;  
    height: 30px;  
    display: flex;  
    align-items: center;  
    box-shadow: 0 0 25px 0 black;  
    }  
    header * {  
    display: inline;  
    }  
    header li {  
    margin: 70px;  
    }  
    header li a {  
    color: #d4dee7;  
    text-decoration: none;  
    }  


body {
    margin-top: 50px;
    background: #008080;
  }
  
  #app {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    padding: 24px;
    gap: 24px;
  }
  
  .note {
    height: 200px;
    margin-top: 50px;
    box-sizing: border-box;
    padding: 16px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(1,1, 1, 1);
    resize: none;
    font-family: sans-serif;
    font-size: 16px;
    color: #e9f4fb;
  }
  
  .add-note {
    margin-top: 50px;
    height: 200px;
    border: none;
    outline: none;
    background:#008080;
    border-radius: 10px;
    font-size: 120px;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: background 0.2s;
    box-shadow: 0 0 7px rgba(1,1, 1, 1);
    
  }
  
  .add-note:hover {
    background: rgba(76, 128, 79, 0.2);
  }


  
.popup {
  position: fixed;
  display: flex;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.822); /* Black w/ opacity */
}

.popup-content {
  position: relative;
  margin: auto;
  z-index: 3;
  padding: 10px 10px;
  width: 95%;
  max-width: 30rem;
  max-height: 33rem;
  overflow: hidden;
  border-radius: 15px;

  font-family: "Open Sans", sans-serif;
  background: #008080;
  -webkit-box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.08);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.row {
  width: 100%;
  display: flex;
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 5px;
}

.navstyle {
  background-color: #156969;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

.string-input {
  border-radius: 8px;
  border: none;
  /* border: 2px solid #bfbfbf; */
  font-family: "Open Sans", sans-serif;
  width: 100%;
  resize: none;
  outline: none;
  border-radius: 5px;
  max-height: 330px;
  caret-color: #052c42;
}

textarea::-webkit-scrollbar {
  width: 0px;
}

/*signup - login css*/


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  margin: 0;
  padding: 0;
  background: #008080;
  height: 100vh;
  overflow: hidden;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.center h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}
input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover{
  border-color: #2691d9;
  transition: .5s;
}
.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a{
  color: #2691d9;
  text-decoration: none;
}
.signup_link a:hover{
  text-decoration: underline;
}

